[Unit]
Description=Service auto connect for bluetooth speaker
After=multi-user.target
StartLimitIntervalSec=0

[Service]
Environment="UI_ASSETS=/home/wildan/ui/assets"
Environment="EXEC_PATH=/home/wildan/proyek/raisa/ui/raisa-web"
Type=simple
ExecStart=/usr/bin/bash -c "cd ${EXEC_PATH} && bash auto_connect_speaker.sh"

[Install]
WantedBy=default.target
