[Unit]
Description=Ini service untuk mendapatkan internet dari ITS 
After=multi-user.target
StartLimitIntervalSec=0

[Service]
Environment="UI_ASSETS=/home/wildan/ui/assets"
Environment="EXEC_PATH=/home/wildan/proyek/raisa/ui/raisa-web"
Type=oneshot
ExecStart=/usr/bin/bash -c "cd ${EXEC_PATH} && python get_internet_its.py"

[Install]
WantedBy=default.target
