[Unit]
Description=Ini service untuk mendapatkan internet dari ITS 
After=graphical.target
StartLimitIntervalSec=0

[Service]
Environment="UI_ASSETS=/home/raisa/ui/assets"
Type=oneshot
ExecStart=/usr/bin/bash -c "cd /home/raisa/ui/raisa-web && python get_internet_its.py"

[Install]
WantedBy=graphical.target
