[Unit]
Description=RAISA WEB INTERFACE
After=multi-user.target
StartLimitIntervalSec=0

[Service]
Environment="UI_ASSETS=/home/wildan/proyek/qt/coba0/assets"
Type=simple
Restart=always
RestartSec=3
ExecStart=/usr/bin/bash -c "cd /home/wildan/proyek/raisa/ui/raisa-web && ./run.sh"

[Install]
WantedBy=default.target
