[Unit]
Description=Update data cuaca dari bmkg
After=graphical.target
StartLimitIntervalSec=0

[Service]
Environment="UI_ASSETS=/home/raisa/ui/assets"
Type=oneshot
ExecStart=/usr/bin/bash -c "cd /home/raisa/ui/raisa-web && python update_data_cuaca.py"

[Install]
WantedBy=graphical.target
