[Unit]
Description=Update data cuaca dari bmkg
After=network.target
StartLimitIntervalSec=0

[Service]
Environment="UI_ASSETS=/home/wildan/proyek/qt/coba0/assets"
Type=oneshot
ExecStart=/usr/bin/bash -c "cd /home/wildan/proyek/raisa/ui/raisa-web && python update_data_cuaca.py"

[Install]
WantedBy=graphical.target
